* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    /* background-color: #9db8ed; */
    background-image: linear-gradient( to right, red, green , yellow , blue );
}

.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: #ffffffcc;
    opacity: 1;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}